@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: rgb(232, 232, 232);
    margin : 0;
	font-family: 'Lato', sans-serif;
}
.container {
    padding-top: 2rem;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-container{
    width: 1160px;
    /* height: 170px; */
    margin-right: auto;
    margin-left: auto;
}
.head {
    width: 1160px;
    height: 34px;
    margin-left : auto;
    margin-right: auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* margin-bottom: 20px; */
}

.heading {
    font-size: 28px;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgb(235, 56, 79);
    color: rgb(235, 56, 79);
    font-size: 30px;
    width: 30px;
    height: 30px;
    font-weight: 100 !important;
    margin-top: 250px;

    /* z-index: 1; */
}

.arrow-left i{
    margin-left: 10px;
}

.arrow-left {
    margin-left: -40px;
}

.arrow-right {
    margin-left: 1124px;
}
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 1165px;
    height: 579px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.card{
    /* width: 383.333px; */
    margin-right: 20px;
    /* height: 100%; */
    border: none;
}
.card-field{
    width:365px;
    height: 531px;
    background-color: white;  
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.3px !important;
}
.card-head{
    background: #23b6f9 !important;
    /* width: 100%; */
    /* height: 78px; */
    padding: .75rem 1.25rem;
}
.head-flex{
    display: flex;
    flex-direction: column;
}
.activity{
    width: auto;
    font-size: 1rem !important;
    font-weight: 700;
    height: 24px;
    color: #bde9fc !important;
}
.tasks{
    width: auto;
    font-weight: bold !important;
    color: #fff !important;
    height: 24px;
    margin-top: 6px;
    font-size: 1.25rem !important;
}
.card-body{
    display: flex;
    flex: 1 1 auto;
    padding: 1.25rem;
    width: fit-content;
}
.card-bottom{
    padding-left: 1.5rem!important;
    display: flex;
    align-items:center;
    height: 37px;
}
.complete-task-icon{
    width: 22px;
}
.complete-task-circle{
    color: #ebebeb !important;
    font-size: 1.375rem !important;
}
.task-remains{
    color: #98999b !important;
    font-size: 0.875rem !important;
    font-weight: bold;  
    padding: 0.5rem!important;
    display: flex;
    align-items: center;
    /* height: 37px; */
}

.name {
    font-weight: bold !important;
    color: #9b9b9b !important;
    margin-bottom: .5rem;
}

.name-dat {
    color: #5e5e5e !important;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 1rem;
}

.highlight {
    font-size: 1.125rem !important;
    margin : 1rem 0 0 1rem;
}

.name-logo {
    width: 100%;
    text-align: center;
    /* height: 166px; */
}

.img-fluid {
    width: 50%;
    height: 10.375rem !important;
}
.task-history {
    display: flex !important;
    flex-direction: column !important;
}

.task-heading {
    color: #eb384f !important;
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 1rem;
    margin-bottom: 5px;
}

.task-details {
    padding-left: 1.25rem !important;
    margin-bottom: 0.5rem!important;
}

.task-details-row {
    display: flex;
    color: #757575 !important;
    padding: .25rem!important;
    font-weight: 700;
    font-size: 0.875rem !important;
}

.call-icon {
    font-size: 1.25rem !important;
    padding-left: 13px;
}

.task-date {
    font-size: 0.875rem !important;
    padding-left: .5rem;
}

.task-details-text {
    padding-left: 37px !important;
    padding-right: 37px !important;
}

.call-btn-container{
    width: 365px;
    color: white;
    margin-top: 508px !important;
    position: fixed;
    display: flex;
    justify-content: center;    
}
.call-btn{
    min-width: 80%;
    min-height: 45px !important;
    color: #fff;
    background-color: #EB384F;
    border:none;
    outline: none;
    border-color: #dc3545;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem !important;
    cursor: pointer;
}
.call-btn:hover{
    background: #dc3545;
}
.call-btn-icon{
    font-size: 1.0625rem !important;
    font-weight: 500;
    margin-right: 0.5rem !important;
    height: 21px !important;
}





.popup-container{
    width: 1210px;
    /* height: 170px; */
    /* margin-right: auto;
    margin-left: auto; */
    top: 60px;
    /* left: 18%; */
    /* border: 1px solid gray; */
    border-radius: 5px;
}
.popup{
    display: none;
    position: absolute;
    
    /* border:1px solid rgb(194, 191, 191);; */
    background-color: rgb(235, 235, 235);
}
.popup-box{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.box-top{
    display: flex;
    justify-content: space-between;
}
.history-title{
    font-size: 20px;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #212529;
    margin: 20px 0 0 0;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    width: 1056px;
    align-items: center;
}
.task-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
    margin-right: 20px;
    background-color: white;
    width: 330px;
    height: 170px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.card1 {
    border-top: 3px solid rgb(223, 117, 106);
}

.card2 {
    border-top: 3px solid rgb(126, 211, 33);
}

.card3 {
    border-top: 3px solid rgb(53, 189, 240);
}
.card-row p{
    margin-top: 0;
}
.card-row {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;  
}
.row1 {
    height : 74px;
}
.row2, row3 {
    height: 15px;
}
.row2 p {
    width: 85px;
    height: 14px;
    color: rgb(184, 183, 183);
    font-size:14px ;
    font-weight: bold;
    margin : 0;
}
.row3 p{
    width: 100px;
    font-size: 14px;
    height: 12px;
    color: rgb(117, 111, 111);
    margin : 0;
}
.card-img{
    width: 58px;
    height: 58px;
    border-radius: 4px;
}
.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 15px;
    color: #f6a623!important;
}
.details {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
   margin-left : 20px;
   height : 58px;
   width:130px;
}
.details  p{
    width: 79px;
    height: 14px;
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
    font-size: 12px;
    color:rgb(102, 96, 96);
}
.task-det {
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.task-det p{
    text-align: center;
    color:rgb(117, 111, 111);
    width: 90px;
    height: 12px;
    font-size: 14px;
    margin-top : 0;
}
h3{
    width:161px;
    height: 17px;
    font-size: 16px;
    margin : 0;
}
.fa {
    color : rgb(42, 128, 57);
}

.fa-envelope {
    color : rgb(36, 112, 179);
}
.piechart {
    width : 54px;
    height: 48px;
}

.model-img{
    border-radius: 50%;
    width: 43px;
    height: 43px;
    margin-left: 20px;
}
.model-icon{
    margin-left: 20px;
    color: #a3a3a3 !important;
}
.text-danger{
    color:  #dc3545!important;
}
.border{
    border: 1px solid #ccc !important;
    background-color: white;
    margin-top:20px;
}
.option{
    display: flex;
    height: 68px;
    align-items: center;
}
.play-track{
    height: 400px;
}
.media-btn{
    display: flex;
    align-items:center;
    justify-content: center;
    /* padding: 10px; */
}
.button{
    border: 2px solid #97c1d5;
    border-radius: 2rem;
    min-width: 67px;
    height: 30px;
    padding: 1px!important;
    color: #30beef!important;
    background: white;
}
.large{
    font-size: 48px !important;
}
.play-btn{
    min-width: 90px;
    height: 60px !important;
    padding: 5px!important; 
}
.graph-box{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.slide-left{
    position: relative;
    top: 110px;
    left: -35px;
    margin: 0;
}
.slide-right{
    position: relative;
    top: -93px;
    left: 1060px;
    margin: 0;
}
.slide-left i{
    margin-left: 10px;
}
.cross{
    position: relative;
    top: 10px;
    right: -35px;
    height: 50px;
}
#graph{
    width: 1020px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border:  1px solid rgb(226, 223, 223);
    border-radius: 10px;
}
.det-container{
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    display: flex;  
    box-sizing: border-box;
}
.map-image{
    width: 50%;
}
.map-image p{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 0px;
    font-family: inherit;
    font-weight: 500;
}
.map{
    width:100%;
    height: 300px;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 5px;
}
.action-item{
    width: 50%;
    padding: 10px;
}
.action-item p{
    font-size: 1.25rem!important;
    font-weight: 700!important;
    padding: 0.5rem!important;
    margin-bottom: 0px;
    color: #757575!important;
    margin-top: 0px;
}
.items div{
    padding: 0.5rem!important;
    color: #757575!important;
    font-size: .875rem!important;
}
.candit{
    margin-top: 20px;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-sizing: border-box;
}
.basic-pro{
    display: flex;
    color: #212529;
    margin-bottom: 20px;
}
.info-1{
    margin-left: 30px;
    width: 350px;
}
.info-2{
    margin-left: 30px;
    width: 450px;
}
.info-1 h2{
    margin: 0px;
    font-size: 1.125rem!important;
    font-weight: 400!important;
    margin-bottom: 10px;
    /* padding-bottom:5px; */
}
.post{
    color: #6c757d!important;
    font-size: .875rem!important;
    font-weight: 700!important;
}
.feedback{
    display: flex;
    font-size: .8125rem!important;
    font-weight: 400!important;
    align-items: center;
}
.feedback div{
    margin-top:5px;
    margin-bottom: 5px;
}
.info-1 p{
    margin: 0px;
    margin-top:5px;
    margin-bottom: 5px;
}
.bot-img img{
    width: 150px;
    height: 150px;
}
.score{
    font-size: .8125rem!important;
    margin-top: 10px;
}
.close-container{
    width:1080px !important;
    display: flex;
    justify-content: flex-end;
    /* background: white; */
    margin-bottom: 20px;
    margin-top: 20px;
}
.close-button{
    color: #fff;
    background-color: #EB384F !important;
    border-color: #dc3545;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem !important;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    float: right;
    opacity: 1;
}


.blur-container {
    display: none;
    position: fixed;
    width : 100%;
    height: 100%;
    top :auto;
    bottom: auto;
    left: auto;
    right: auto;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}