@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: rgb(232, 232, 232);
    margin : 0;
	font-family: 'Lato', sans-serif;
}
.container{
    width: 1213px;
    height: 699px;
margin-left: auto;
margin-right: auto;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.heading{
    font-size: 35px;
    color: rgb(98, 96, 96);
}
.onclick {
        text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 200px;
    border: none;
    outline: none;
    border-color: rgb(200, 200, 200);
    background-color:rgb(236, 55, 100);
    color: white;
    font-size: 20px;
    border-radius: 4px;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
}

.teamsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width : 100%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-top : 50px;
}
.teamCard{
    background-color: white;
    border: 1px solid rgb(218, 214, 214);
    display: flex;
    width: 280px;
    justify-content: space-between;
    height : 174px;
    border-radius:4px;
    padding: 20px;
    /* box-shadow: 0 0 10px rgb(163, 162, 162); */
    flex-direction: column;
    text-decoration: none;
    color: black;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px inset, rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    width: 251px;
    height: 174px;
    /* transform: rotate(0deg) translate(735px, 215px) rotate(0deg); */
}
.teamCardHead{
    display:flex;
    align-content: center;
    /* justify-content: space-around; */
}
.teamCardHead p{
    font-size: 18px;
    color: red;
    align-content: center;
    justify-content: space-around;
}


p {
    margin : 0;
}

.teamDesc p{
    color: rgb(163, 163, 163);
    font-size: 12px;
}

.teamMembers {
    display: flex;
    align-items: center;
}

img {
    width : 30px;
    height : 30px;
    border-radius : 50%;
    margin-right : 10px;
}

.teamMembers p{
    font-size: 14px;
    color: rgb(128, 123, 123);
}


